# Extracting Observation Dense Bergs from Spreads

In [1]:
from icedef import iceberg

In [2]:
iip_season = 2015  # must be 2015 (more to come later)
iip_indices = range(3284, 3286)  # must be of type list or range

In [16]:
iip_df = iceberg.add_datetime_column(iceberg.get_iip_df(iip_season))

In [17]:
iip_df.sort_values('ICEBERG_NUMBER').head()

,ICEBERG_YEAR,ICEBERG_NUMBER,SIGHTING_DATE,SIGHTING_TIME,SIGHTING_LATITUDE,SIGHTING_LONGITUDE,SIGHTING_METHOD,SIZE,SHAPE,SOURCE,TIMESTAMP
0,2015,1,11/21/2014,1639,59.98,-63.44,VIS,GEN,GEN,GCFR,2014-11-21 16:39:00
1,2015,1,12/13/2014,2138,58.32,-61.18,SAT-HIGH,RAD,RAD,RSA2,2014-12-13 21:38:00
2,2015,2,11/29/2014,2147,58.57,-60.53,SAT-HIGH,RAD,RAD,RSA2,2014-11-29 21:47:00
3,2015,2,12/6/2014,2142,58.21,-60.05,SAT-HIGH,RAD,RAD,RSA2,2014-12-06 21:42:00
4,2015,2,12/16/2014,1553,57.69,-59.16,VIS,LG,GEN,GTJZ,2014-12-16 15:53:00

In [18]:
tmp_df = iip_df['ICEBERG_NUMBER'].value_counts().rename('obs_counts').to_frame()

In [19]:
test_df = iip_df.merge(tmp_df, left_on='ICEBERG_NUMBER', right_index=True)

In [20]:
test_df = test_df.loc[test_df['obs_counts'] > 2]

In [21]:
test_df.head()

,ICEBERG_YEAR,ICEBERG_NUMBER,SIGHTING_DATE,SIGHTING_TIME,SIGHTING_LATITUDE,SIGHTING_LONGITUDE,SIGHTING_METHOD,SIZE,SHAPE,SOURCE,TIMESTAMP,obs_counts
2,2015,2,11/29/2014,2147,58.57,-60.53,SAT-HIGH,RAD,RAD,RSA2,2014-11-29 21:47:00,3
3,2015,2,12/6/2014,2142,58.21,-60.05,SAT-HIGH,RAD,RAD,RSA2,2014-12-06 21:42:00,3
4,2015,2,12/16/2014,1553,57.69,-59.16,VIS,LG,GEN,GTJZ,2014-12-16 15:53:00,3
15,2015,11,1/6/2015,1842,51.53,-54.83,VIS,LG,DD,GTJZ,2015-01-06 18:42:00,5
16,2015,11,1/10/2015,1911,50.61,-54.78,R/V,GEN,GEN,GTJZ,2015-01-10 19:11:00,5

In [22]:
test_df['ICEBERG_NUMBER'].nunique()

1554

In [86]:
len(test_df['ICEBERG_NUMBER'].tolist())# == len(test_df)

8894

In [134]:
#%%timeit
berg_num = test_df['ICEBERG_NUMBER'].tolist()[0]
good_indices = []

berg_nums = test_df['ICEBERG_NUMBER'].tolist()
berg_times = test_df['TIMESTAMP'].tolist()

for i, row in test_df[:-2].iterrows():
    
    if i+1 >= len(test_df):
        break
        
    berg_num0 = berg_nums[i]
    berg_num1 = berg_nums[i+1]

    if berg_num0 == berg_num1:

        time0 = berg_times[i]
        time1 = berg_times[i+1]
        dt = time1 - time0
        dt_hours = dt.days*24 + dt.seconds/3600
        
        if dt_hours < 12:
            good_indices.append(i)
            good_indices.append(i+1)

good_indices = sorted(list(set(good_indices)))

In [135]:
len(test_df[test_df.index.isin(good_indices)])

647

In [141]:
test_df2 = test_df[test_df.index.isin(good_indices)]

In [142]:
tmp_df2 = test_df2['ICEBERG_NUMBER'].value_counts().rename('obs_counts').to_frame()

In [143]:
test_df3 = test_df2.merge(tmp_df2, left_on='ICEBERG_NUMBER', right_index=True)

In [147]:
test_df3.sort_values('obs_counts_y',ascending=False)

,ICEBERG_YEAR,ICEBERG_NUMBER,SIGHTING_DATE,SIGHTING_TIME,SIGHTING_LATITUDE,SIGHTING_LONGITUDE,SIGHTING_METHOD,SIZE,SHAPE,SOURCE,TIMESTAMP,obs_counts_x,obs_counts_y
5116,2015,21186,6/24/2015,1314,47.65,-47.07,R/V,MED,GEN,GMRS,2015-06-24 13:14:00,19,13
5107,2015,21186,5/16/2015,1355,47.84,-52.29,R/V,GEN,GEN,GMRS,2015-05-16 13:55:00,19,13
5115,2015,21186,6/21/2015,1645,47.83,-47.56,R/V,SM,DD,SHIP,2015-06-21 16:45:00,19,13
5114,2015,21186,6/19/2015,1653,47.77,-47.74,R/V,MED,DD,GPGR,2015-06-19 16:53:00,19,13
5113,2015,21186,6/19/2015,1111,47.83,-47.82,R/V,MED,TAB,GPGR,2015-06-19 11:11:00,19,13
5112,2015,21186,6/18/2015,1153,47.91,-48.31,VIS,MED,GEN,GTJZ,2015-06-18 11:53:00,19,13
5109,2015,21186,5/30/2015,1015,48.56,-51.87,R/V,SM,GEN,GTJZ,2015-05-30 10:15:00,19,13
5108,2015,21186,5/25/2015,1055,48.15,-52.09,R/V,SM,GEN,GPGR,2015-05-25 10:55:00,19,13
5118,2015,21186,7/14/2015,1346,46.20,-45.60,RAD,GEN,GEN,2006,2015-07-14 13:46:00,19,13
5106,2015,21186,5/15/2015,1243,47.82,-52.28,R/V,MED,TAB,GMRS,2015-05-15 12:43:00,19,13
5101,2015,21186,4/19/2015,1057,48.91,-52.20,R/V,GEN,GEN,GPGR,2015-04-19 10:57:00,19,13
5100,2015,21186,4/16/2015,2027,49.37,-52.09,R/V,MED,GEN,GMRS,2015-04-16 20:27:00,19,13
5117,2015,21186,6/27/2015,1403,46.70,-46.73,RAD,GEN,GEN,2005,2015-06-27 14:03:00,19,13
4726,2015,21109,4/8/2015,1709,53.33,-53.90,VIS,GEN,GEN,GMRS,2015-04-08 17:09:00,22,12
4742,2015,21109,6/27/2015,1931,48.13,-49.38,RAD,GEN,GEN,2005,2015-06-27 19:31:00,22,12
4744,2015,21109,7/3/2015,1747,47.65,-48.24,R/V,LG,GEN,GMRS,2015-07-03 17:47:00,22,12
4745,2015,21109,7/3/2015,2110,47.64,-48.00,R/V,GEN,GEN,SHIP,2015-07-03 21:10:00,22,12
4737,2015,21109,6/21/2015,1234,48.56,-50.27,R/V,MED,GEN,GPGR,2015-06-21 12:34:00,22,12
4734,2015,21109,6/15/2015,1113,48.90,-50.96,R/V,MED,GEN,GTJZ,2015-06-15 11:13:00,22,12
4733,2015,21109,6/13/2015,1817,49.21,-51.26,R/V,GEN,GEN,GPGR,2015-06-13 18:17:00,22,12
4731,2015,21109,6/8/2015,1635,49.53,-52.03,R/V,MED,GEN,GTJZ,2015-06-08 16:35:00,22,12
4730,2015,21109,6/4/2015,1052,49.67,-52.04,R/V,SM,GEN,GTJZ,2015-06-04 10:52:00,22,12
4727,2015,21109,5/1/2015,1615,51.56,-54.28,R/V,GEN,GEN,GTJZ,2015-05-01 16:15:00,22,12
4741,2015,21109,6/27/2015,1324,48.19,-49.42,R/V,MED,GEN,GPGR,2015-06-27 13:24:00,22,12
4738,2015,21109,6/22/2015,1303,48.43,-50.12,R/V,SM,TAB,GTJZ,2015-06-22 13:03:00,22,12
5119,2015,21187,4/17/2015,1304,48.98,-52.15,R/V,LG,GEN,GPGR,2015-04-17 13:04:00,12,9
5125,2015,21187,5/4/2015,1002,47.79,-52.26,R/V,MED,GEN,GTJZ,2015-05-04 10:02:00,12,9
5130,2015,21187,5/18/2015,1319,47.64,-52.07,R/V,SM,GEN,GMRS,2015-05-18 13:19:00,12,9
5129,2015,21187,5/17/2015,1939,47.64,-51.94,R/V,SM,DD,GPGR,2015-05-17 19:39:00,12,9
5127,2015,21187,5/6/2015,1022,47.68,-52.08,R/V,MED,BLK,GPGR,2015-05-06 10:22:00,12,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2713,2015,20543,4/16/2015,1724,50.22,-49.98,R/V,LG,GEN,GPGR,2015-04-16 17:24:00,4,1
8339,2015,22552,6/15/2015,1910,50.69,-54.42,VIS,SM,NTB,2006,2015-06-15 19:10:00,5,1
2714,2015,20544,3/24/2015,1728,51.47,-53.38,R/V,MED,TAB,2002,2015-03-24 17:28:00,5,1
8359,2015,22559,5/29/2015,1953,51.77,-56.19,R/V,VLG,TAB,2002,2015-05-29 19:53:00,3,1
8360,2015,22560,5/22/2015,1355,51.96,-55.61,RAD,GEN,GEN,GTJZ,2015-05-22 13:55:00,3,1
4621,2015,21083,5/1/2015,1419,51.78,-54.86,R/V,MED,GEN,GTJZ,2015-05-01 14:19:00,3,1
2966,2015,20601,5/14/2015,2146,47.72,-52.53,R/V,SM,NTB,2005,2015-05-14 21:46:00,8,1
5768,2015,21366,4/28/2015,2031,48.05,-51.07,R/V,MED,GEN,GPAB,2015-04-28 20:31:00,5,1
8268,2015,22534,5/22/2015,1328,52.49,-54.96,R/V,MED,GEN,GTJZ,2015-05-22 13:28:00,3,1
8267,2015,22533,5/27/2015,1618,51.76,-54.46,R/V,LG,GEN,GTJZ,2015-05-27 16:18:00,3,1
3401,2015,20701,6/28/2015,1514,46.57,-47.58,R/V,MED,GEN,GPGR,2015-06-28 15:14:00,14,1
3408,2015,20703,5/28/2015,1308,48.17,-52.51,R/V,SM,GEN,GTJZ,2015-05-28 13:08:00,6,1
3409,2015,20704,3/24/2015,1704,52.51,-54.56,R/V,MED,NTB,2002,2015-03-24 17:04:00,5,1
8171,2015,22488,5/16/2015,2028,52.42,-52.23,R/V,LG,NTB,2005,2015-05-16 20:28:00,9,1
1861,2015,20326,4/7/2015,1232,49.49,-46.40,R/V,GEN,GEN,GPGR,2015-04-07 12:32:00,5,1
8170,2015,22487,6/22/2015,1303,49.93,-49.39,R/V,LG,DD,GTJZ,2015-06-22 13:03:00,6,1
8144,2015,22478,5/16/2015,2018,53.42,-53.30,VIS,LG,NTB,2005,2015-05-16 20:18:00,8,1
1779,2015,20312,3/20/2015,1445,47.33,-47.44,R/V,LG,BLK,OYQU,2015-03-20 14:45:00,3,1
8472,2015,22587,7/5/2015,1227,47.40,-47.57,R/V,BB,DD,GPGR,2015-07-05 12:27:00,12,1
8478,2015,22589,6/27/2015,1327,48.32,-49.86,R/V,SM,GEN,GPGR,2015-06-27 13:27:00,4,1
8143,2015,22477,6/15/2015,1157,50.29,-49.49,VIS,SM,TAB,GTJZ,2015-06-15 11:57:00,6,1
1744,2015,20303,3/10/2015,1501,51.64,-52.48,VIS,VLG,TAB,2005,2015-03-10 15:01:00,3,1
1743,2015,20302,3/20/2015,1815,47.98,-48.02,RAD,GEN,GEN,2002,2015-03-20 18:15:00,3,1
4543,2015,21066,4/8/2015,1629,53.79,-54.53,VIS,GEN,GEN,GMRS,2015-04-08 16:29:00,5,1
4542,2015,21065,6/9/2015,830,51.68,-56.37,VIS,MED,NTB,C6XP,2015-06-09 08:30:00,7,1
8304,2015,22543,5/29/2015,2011,51.22,-55.32,R/V,SM,NTB,2002,2015-05-29 20:11:00,3,1
5091,2015,21182,5/7/2015,1342,46.17,-48.10,R/V,SM,NTB,2001,2015-05-07 13:42:00,5,1
1635,2015,20286,4/13/2015,1239,48.28,-47.57,VIS,MED,DD,GTJZ,2015-04-13 12:39:00,5,1
1557,2015,20274,3/10/2015,1644,50.37,-51.30,R/V,LG,TAB,2005,2015-03-10 16:44:00,4,1
8392,2015,22569,6/11/2015,1445,50.77,-55.70,R/V,GEN,GEN,GTJZ,2015-06-11 14:45:00,4,1