# Extract Dense Observation Drift Tracks

In [70]:
from icedef import iceberg

In [85]:
iip_season = 2015  # must be 2015 (more to come later)

iip_df = iceberg.add_datetime_column(iceberg.get_iip_df(iip_season))

iip_df = iip_df.sort_values(['ICEBERG_NUMBER', 'TIMESTAMP'], ascending=[True, True])

iip_df = iip_df.reset_index(drop=True).drop(labels=['ICEBERG_YEAR', 'SIGHTING_DATE','SIGHTING_TIME','SIGHTING_METHOD'], axis=1)

#%%timeit

berg_nums = iip_df['ICEBERG_NUMBER'].tolist()
berg_times = iip_df['TIMESTAMP'].tolist()

berg_num = berg_nums[0]

good_indices = []

for i, row in iip_df.iterrows():
        
    if i+1 >= len(iip_df):
        break
        
    berg_num0 = berg_nums[i]
    berg_num1 = berg_nums[i+1]

    if berg_num0 == berg_num1:

        time0 = berg_times[i]
        time1 = berg_times[i+1]
        dtime = time1 - time0
        dt_hours = dtime.days*24 + dtime.seconds/3600
        
        if dt_hours < 12:
            good_indices.append(i)
            good_indices.append(i+1)

good_indices = sorted(list(set(good_indices)))

iip_df2 = iip_df[iip_df.index.isin(good_indices)]

iip_df2['count'] = iip_df2.groupby('ICEBERG_NUMBER')['ICEBERG_NUMBER'].transform('count')

iip_df2 = iip_df2.sort_values(['count', 'ICEBERG_NUMBER','TIMESTAMP'], ascending=[False, True, True])

/home/evankielley/.conda/envs/icedef/lib/python3.6/site-packages/ipykernel_launcher.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [86]:
df_20668 = iip_df2.loc[iip_df2['ICEBERG_NUMBER']==20668].reset_index(drop=True)
df_20668 = df_20668[2:8].reset_index(drop=True)
df_20668

,ICEBERG_NUMBER,SIGHTING_LATITUDE,SIGHTING_LONGITUDE,SIZE,SHAPE,SOURCE,TIMESTAMP,count
0,20668,47.55,-49.51,SM,GEN,GTJZ,2015-06-25 11:18:00,10
1,20668,47.43,-49.50,SM,GEN,GPGR,2015-06-25 19:18:00,10
2,20668,47.43,-49.60,GEN,GEN,GTJZ,2015-06-26 10:46:00,10
3,20668,47.44,-49.60,LG,GEN,GMRS,2015-06-26 16:46:00,10
4,20668,47.45,-49.61,LG,GEN,GPGR,2015-06-27 11:04:00,10
5,20668,47.35,-49.58,GEN,GEN,2005,2015-06-27 13:31:00,10

In [87]:
df_23496 = iip_df2.loc[iip_df2['ICEBERG_NUMBER']==23496].reset_index(drop=True)
df_23496[2:8]

,ICEBERG_NUMBER,SIGHTING_LATITUDE,SIGHTING_LONGITUDE,SIZE,SHAPE,SOURCE,TIMESTAMP,count
2,23496,47.44,-48.96,MED,GEN,GTJZ,2015-06-25 11:30:00,10
3,23496,47.38,-49.01,LG,TAB,GPGR,2015-06-25 19:24:00,10
4,23496,47.35,-49.01,GEN,GEN,GTJZ,2015-06-26 11:00:00,10
5,23496,47.34,-49.00,MED,GEN,GMRS,2015-06-26 16:57:00,10
6,23496,47.31,-48.97,LG,GEN,GPGR,2015-06-27 10:51:00,10
7,23496,47.27,-49.01,GEN,GEN,2005,2015-06-27 13:35:00,10

In [91]:
df_21511 = iip_df2.loc[iip_df2['ICEBERG_NUMBER']==21511].reset_index(drop=True)
df_21511[2:6]

,ICEBERG_NUMBER,SIGHTING_LATITUDE,SIGHTING_LONGITUDE,SIZE,SHAPE,SOURCE,TIMESTAMP,count
2,21511,47.56,-49.41,LG,GEN,GTJZ,2015-06-25 11:18:00,8
3,21511,47.51,-49.44,LG,GEN,GPGR,2015-06-25 19:08:00,8
4,21511,47.46,-49.48,GEN,GEN,GTJZ,2015-06-26 10:46:00,8
5,21511,47.44,-49.48,MED,GEN,GMRS,2015-06-26 16:51:00,8